@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

header {
  background-color: #010000;
  color: #fff;
  font-family: 'DM Sans', sans-serif;  
  font-weight: bold;
  font-size: 14px;
  padding: 0.7rem 0;
  position: sticky;
  letter-spacing: -0.6px;
}

a {
  color: #3B6FAB;
  text-decoration: none;
}

a:hover {
  color: #6396D3;
}